*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: MerriweatherSans;
    src: url('./MerriweatherSans-VariableFont_wght.ttf');
}

body{
    font-family: MerriweatherSans;
    font-size: 2rem;
    background-color: #EDE7D8;
}

select {
    font-size: 2rem;
    font-family: MerriweatherSans;
    background-color: #D0D0D0;
}

.main-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin: 2em auto auto auto;
    padding: 15px;
}

label {
    color: #1724B3;
}
.circle {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: #30C44B;
    margin: 1em auto;
    box-shadow: 0px 0px 0px 11px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
#timer {
    color: #F90000;
    font-size: 3rem;
}
.circle:active{
    transform: scale(1.01);
}
.disabled {
    cursor:auto;
    background-color: #5a5350;
    border: solid black 8px;
    box-shadow: none;
    width: 450px;
    height: 450px;
    margin: 2.5em auto;
}
/* .circle:hover::before{

} */
@media screen and (max-width: 400px){
    .circle {
        width: 250px;
        height: 250px;
    }
}